* { margin: 0; padding: 0; box-sizing: border-box; }
body {font: 13px Helvetica, Arial; }

#not-turn {
    text-align: center;
    margin-top: 1em;
    color: #F26161;
}
h1 {
  display: none;
  text-align: center;
  margin-top: 4em;
}
#main {
  width: 20em;
  margin:0 auto;
  margin-top: 3em;
  background-color: #FFF5C3;
  display: none;
}
#row0, #row1, #row2 {
  height: 5em;
  display: flex;
}
#row0, #row1 {
  border-bottom: solid;
}
.col {
  height: 100%;
  flex: 1;
  border-left: solid;
  font-size: 4em;
  text-align: center;
}
.col:first-child {
  border: none;
}